<div class="dialog">
  <h1>{{ book.title }}</h1>
  <mat-dialog-content>
    <p class="desc">{{ book.description }}</p>
    <p>Author: {{ book.author }}</p>
    <p>Genre: {{ book.genre }}</p>
    <p>Year of publication <b>(yyyy/mm/dd)</b>: {{ book.year }}</p>
    <p>Price: {{ book.price | currency }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      mat-dialog-close
      matTooltip="Close"
      matTooltipPosition="above"
    >
      Close
    </button>
    <button
      mat-raised-button
      (click)="addToCart(book)"
    >
      Add
    </button>
  </mat-dialog-actions>
</div>
