.top-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  width: 28%;
  font-family: "Brush Script MT", cursive;
  font-size: 25px;
}
.aboutParagraph{
  font-family: "Arial";
}

.centered{
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 65px;
  color: whitesmoke;
}

.buttonCentered{
  position: absolute;
  top: 60%;
  left:10%;
  color: white;
}
.buttonCentered:hover{
  background: transparent;
  transition: 0.6s;
}
i{
  margin-right:5px;
}
.fa-facebook {
  background: #4267B2;
  color: white;
  padding: 5px 8px 5px 8px;
  border-radius: 20%;
}

.fa-twitter {
  background: #1DA1F2;
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 20%;
}

.fa-linkedin {
  background: #0e76a8;
  color: white;
  padding: 5px 6px 5px 6px;
  border-radius: 20%;
}

