<div class="container-fluid pl-0 pr-0">
    <div class="row mt-0 mb-3">
      <div class="col xl-12 pl-0 pr-0">
        <img
        src="../../assets/kniga.jpg"
        style="background-repeat: no-repeat; opacity: 0.7; filter: brightness(50%);"
        class="img-fluid">
        <p class="text-left mt-3 centered">
          Read your favorite books with pleasure, your satisfaction is our motivation to work even better and more dedicated in the future.
        </p>
        <button class="btn btn-outline-info btn-lg buttonCentered">Who are we</button>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 aboutParagraph">
        <h2 style="display: inline-block; vertical-align: top;">
          About us
        </h2>
        <div class="mt-2 w-75 aboutText">
          <b>Our beginnings</b>
          In the field of the electronic book sale, <strong>BookShop</strong> is a regional guide and has been operating successfully for 6 years. In our very beginnings, we made a real revolution in the electronic sale of books, but in general in the e-commerce in Macedonia, we have been directed towards the wishes and needs of our users and successfully paved the way for the others.
          <strong>BookShop</strong>
          <b>New possibilities for the users</b>
          As the conditions on the market were constantly changing <strong>BookShop</strong> was improving. In order to meet the needs of as many users as possible in our offer, we included the procurement of professional magazines and literature for state and private institutions in the country and abroad.
          <b>Satisfied customers</b>
          We are proud to announce that the first task we set ourselves has been successfully accomplished. It is a simple, fast, but primarily accessible way through which all lovers of the written word can find the books they love. The privacy and security of your personal information is guaranteed, as well as the protection of your account.
          <br>
        </div>
      </div>
  </div>





